<!doctype html>
<html lang="pl">

<head>
	<title>Dziennik Zwierzątek - Gabriela Leśniak</title>
	<meta charset="UTF-8" />
	<meta name="author" content="Gabriela Leśniak" />
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="ajax_analytics.js"></script>
	<script src="local_storage.js"></script>
</head>

<body>
<header>
	<h1>Dziennik pięknych spotkań</h1>
	<nav>
		<a class="header-link" href="./">Dokumentacja</a>
		<a class="header-link" href="./survey">Wypełnij ankiete</a>
		<a class="header-link" href="./analytics">Statystyki</a>
		<a class="header-link" href="./survey_results">Wyniki</a>
		<a class="header-link" href="./survey_results_offline">Wyniki - offline</a>

		<a class="header-link" href="./login" id="login">Zaloguj się</a>
		<a class="header-link" href="./logout" id="logout">Wyloguj się</a>
		<a class="header-link" href="./register" id="rejestracja">Zarejestruj się</a>
	</nav>
</header>

<div id="content">
	<section>
		<h3>Podsumowanie</h3>
		<div class="wrapper">
		<button type="button" class="btn btn-success" id="draw_chart">Rysuj</button>
			<p>1. Jakie zwierzątka spotkałeś?</p>
			<canvas id="chart01" width="800" height="400"></canvas>

			<p>2. Podsumowanie dzienne - wybierz datę z kalendarza</p>
			<form id="chart2_form">
				<input type="date" id="date" required="true">
				<button type="submit" class="btn btn-success" id="draw_chart2">Rysuj</button>
			</form>
			<canvas id="chart02" width="800" height="400"></canvas>
		</div>
	</section>
</div>

include footer.pug