include head.pug

<div id="content">
	<section>
		<h3>O projekcie</h3>
		<p>
			| Tematem projektu jest dziennik spotkanych zwierzątek. Użytkownik może zanotować ile i jakiego rodzaju zwierzątek spotkał.
			| Jeśli użytkownik jest niezalogowany, może wypiełnić ankiety i zapisać w lokalnej bazie danych.
			| Po zalogowaniu lokalne ankiety są wysyłane do bazy danych na serwerze. Jeśli użytkownik jest zalogowany, może wypełniać ankiety i wysyłać je bezpośrednio do bazy danych na serwerze oraz przeglądać statystyki dotyczące ankiet. <br><br>
			| Użyte technologie po stronie klienta: <br>
			| - HMTL5 <br>
			| - CSS + Bootstrap <br>
			| - JavaScript, AJAX, IndexedDB, Chart.js <br><br>
			| Użyte technologie po stronie serwera: <br>
			| - Node.js wraz z modułami: body-parser, express, express-session, mongodb, mongoose, pug <br>
			| - Baza danych: MongoDB <br>
		</p>
	</section>
</div>
include footer.pug