include head.pug

<div id="content">
    <section>
        <h3>Wyniki ankiet offline</h3>
        <button type="button" class="btn btn-success" id="get_results_offline">Wczytaj wyniki</button>
        <div id="offline_results"></div>
    </section>
</div>

include footer.pug